@rendermode InteractiveAuto

@inherits CancellableComponent

@inject IToastService ToastService
@inject IDialogService DialogService
@inject EventService EventService

<div class="d-flex align-center w-100" style="margin-left: 3px">
	<h4 class="padding-small no-margin">Upcoming Events</h4>
	<FluentButton IconStart="@(new Icons.Regular.Size20.ArrowClockwise())" Appearance="Appearance.Outline" OnClick="() => LoadEventsAsync(true)" />
</div>
@if (events is not null)
{
	<FluentDataGrid Items="@(events.AsQueryable())">
		<PropertyColumn Property="@(p => p.EventType)" Title="Event Type" Class="content-center" />
		<PropertyColumn Property="@(p => p.Description)" Title="Description" Class="content-center" />
		<PropertyColumn Property="@(p => p.FromUtc.ToLocalTime())" Sortable="true" IsDefaultSortColumn="true" Title="From" Class="content-center" />
		<PropertyColumn Property="@(p => p.ToUtc.ToLocalTime().TimeOfDay)" Title="To" Class="content-center" />
		<TemplateColumn Title="Responses" Align="Align.Center">
			<EventResponsesSummaryComponent ReplyCount="context.ReplyCount" TeamCount="TeamContext?.Team.Members.Count ?? 0" />
		</TemplateColumn>
		<TemplateColumn Title="Action" Class="content-center" Align="Align.Center">
			<FluentAnchor Appearance="Appearance.Outline" IconStart="@(new Icons.Filled.Size20.Search())" Href="@($"/teams/{TeamId.Value}/events/{context.Id.Value}")" />
		</TemplateColumn>
	</FluentDataGrid>
}

@code
{
	private List<EventSlimResponse>? events;

	[Parameter]
	[EditorRequired]
	public required TeamId TeamId { get; set; }

	[CascadingParameter]
	public TeamContext? TeamContext { get; set; } = null!;

	protected override Task OnParametersSetAsync()
	{
		return LoadEventsAsync();
	}

	private async Task LoadEventsAsync(bool forceLoad = false)
	{
		var result = await EventService.GetEventsAsync(TeamId, forceLoad, CTS.Token);
		if (result.IsSuccess)
		{
			events = result.Value;
		}
		else
		{
			ToastService.ShowError(result.Error.Message);
		}
	}
}
